[submodule "submodules/BoostTrack"]
	path = submodules/BoostTrack
	url = https://github.com/vukasin-stanojevic/BoostTrack.git
[submodule "submodules/ViTPose"]
	path = submodules/ViTPose
	url = https://github.com/ViTAE-Transformer/ViTPose.git
