[submodule "submodules/mmpose"]
	path = submodules/mmpose
	url = https://github.com/open-mmlab/mmpose.git
	ignore = dirty
[submodule "submodules/mmdet"]
	path = submodules/mmdet
	url = https://github.com/open-mmlab/mmdetection.git
	ignore = dirty
[submodule "submodules/mmyolo"]
	path = submodules/mmyolo
	url = https://github.com/open-mmlab/mmyolo.git
	ignore = dirty
[submodule "submodules/unitrack"]
	path = submodules/unitrack
	url = https://github.com/Zhongdao/UniTrack.git
	ignore = dirty
